body {
  /* background-color: #212529; */
  margin: 0;
  padding: 0;
  color: #fff;
}

.navbar-brand {
  margin-left: 3rem;
  color: aquamarine;
}
.navbar-brand:hover {
  margin-left: 3rem;
  color: aquamarine;
}
.nav-link {
  color: aquamarine;
  margin-right: 3rem;
}

.nav-link:hover {
  color: rgb(0, 222, 148);
}

.container-2 {
  margin: 0 50px;
}

.question {
  margin-top: 4rem;
  /* background-color: rgb(6, 67, 67); */
}

.answer {
  /* text-align: center; */
  margin-top: 3rem;
  /* background-color: aquamarine; */
  /* border: 1px solid #fff; */
}

.answer-verb {
  display: block;
  padding: 14px;
  width: 12%;
  margin: auto;
  background-color: darkcyan;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.add {
  right: 38%;
  top: 40%;
}

.add-form {
  display: none;
  width: 40%;
  margin: auto;
}
.add-form2 {
  display: block;
  width: 40%;
  margin: auto;
}

.btn-add {
  width: 100px;
  background-color: rgb(0, 237, 237);
  color: #212529;
}
.btn-add:hover {
  width: 100px;
  background-color: rgb(0, 191, 191);
  color: #212529;
}

.mylist {
  display: block;
  width: 35%;
  margin: auto;
}

.list-group-item {
  padding: 8px 12px;
}
.mydo {
  float: left;
  margin: 0;
  background-color: transparent;
  overflow: hidden;
  padding: 6.5px 12px;
  padding-left: 0;
}
