body {
  /* background-color: #212529; */
  margin: 0;
  padding: 0;
  color: #fff;
}

.navbar-brand {
  margin-left: 3rem;
  color: aquamarine;
}
.navbar-brand:hover {
  margin-left: 3rem;
  color: aquamarine;
}
.nav-link {
  color: aquamarine;
  margin-right: 3rem;
}

.nav-link:hover {
  color: rgb(0, 222, 148);
}

.question {
  margin-top: 4rem;
  background-color: rgb(6, 67, 67);
}

.answer {
  text-align: center;
  margin-top: 4rem;
}
