body {
  /* background-color: #212529; */
  margin: 0;
  padding: 0;
  color: #fff;
}

.navbar-brand {
  margin-left: 3rem;
  color: aquamarine;
}
.navbar-brand:hover {
  margin-left: 3rem;
  color: aquamarine;
}
.nav-link {
  color: aquamarine;
  margin-right: 3rem;
}

.nav-link:hover {
  color: rgb(0, 222, 148);
}

.question {
  margin-top: 6rem;
  /* background-color: rgb(6, 67, 67); */
}

.answer {
  text-align: center;
  margin-top: 4rem;
  /* background-color: aquamarine; */
  /* border: 1px solid #fff; */
}

.answer-verb {
  margin: 0;
  padding: 14px;
  width: 20%;
  display: inline-block;
  background-color: darkcyan;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.add {
  right: 38%;
  top: 40%;
}

.card {
  border-top: 4px solid turquoise;
}
.card-body {
  padding-bottom: 8px;
}

.card-body .card-text {
  font-size: 20px;
}

.btn-done {
  margin-top: 1rem;
  /* background-color: to; */
}
